* {
  box-sizing: border-box;
  color: #333333
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF1E6;
  /* min-height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #333333;
}

.App-link {
  color: #DFE7FD;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-header {
  font-size: 16pxpx;
  text-align: center;
}

.board-view {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  align-content: center;
  align-items: center;
}

.board-container {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.board-row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-row--active {
  margin-top: 8px;
  border: 2px solid;
}

.board-cell {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #333333;
  background-color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-cell--flipped {
  background-color: #333333;
  color: #ffffff;
}

.board-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0px 0px 8px 4px #cccccc;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.board-control {
  max-width: 300px;
}

.board-control__submit {
  background-color: #E2ECE9;
  cursor: pointer;
  align-self: center;
  height: 70px;
  border-radius: 35px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  min-width: 70px;
  padding: 8px 12px;
}

.board-control__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;

  align-self: center;
}

.board-control__button {
  cursor: pointer;
  border:none;
  width: 100%;
  max-width: 60px;
  line-height: 16px;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 16px;
  background-color: #F0EFEB
}

.board-control__button--large {
  cursor: pointer;
  border :none;
  width: 100%;
  max-width: 200px;
  line-height: 16px;
  height: 30px;
  /* width: 30px; */
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 15px;
  background-color: #F0EFEB;
  align-self: center;
}

.board-control__text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.color-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chosen-color {
  border: 1px solid #333333;
  height: 35px;
  width: 35px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.color-slice {
  height: 10px;
  width: 100%;
  margin-bottom: 8px;
}