* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-header {
  font-size: 32px;
  text-align: center;
}

.board-view {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  align-content: center;
  align-items: center;
}

.board-container {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.board-row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-row--active {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 2px solid pink;
}

.board-cell {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid black;
  background-color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-cell--flipped {
  background-color: #555555;
  color: #ffffff;
}

.board-controls {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.board-control {
  padding: 8px;
  max-width: 300px;
}

.board-control__submit {
  background-color: lightgreen;
  align-self: center;
  height: 60px;
  border-radius: 30px;
  border: none;
}

.board-control__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  align-self: center;
}

.board-control__button {
  border:none;
  width: 100%;
  max-width: 60px;
  line-height: 16px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 15px;
  background-color: #dddddd
}

.board-control__button--large {
  border :none;
  width: 100%;
  max-width: 200px;
  line-height: 16px;
  height: 30px;
  /* width: 30px; */
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 15px;
  background-color: #dddddd;
  align-self: center;
}

.board-control__text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}